form {
    background-color: aliceblue;
    border-radius: 1rem;

    margin: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;

    padding: 2rem;
    
    width: 20rem;
    height: 30rem;
    gap: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
        margin: auto;
    }

    input {
        width: 10rem;
        border-radius: 1rem;
        margin: auto;
    }

    button {
        width: 5rem;
        border-radius: 1rem;
        background-color: blue;
        border: none;
        color: white;
        margin: auto;
    }
}