<p>user-registration works!</p>


<form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <label>Email</label>
    <input type="text" formControlName="email">
    <label>Password</label>
    <input type="text" formControlName="password">
    <label>Phone</label>
    <input type="text" formControlName="phone">
    <label>FirstName</label>
    <input type="text" formControlName="firstName">
    <label>LastName</label>
    <input type="text" formControlName="lastName">
    <button type="submit">Next</button>
</form>